<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.aistar.day02.StudentSqlMapper">
    <select id="findByIdOrSnameAno" resultType="student">
        select * from student_test where id>#{id}
        <!--使用id判断参数是否存在-->
        <if test="sname != null">
            and sname like concat('%',#{sname},'%')
        </if>
    </select>

    <select id="findByAnyConditional" resultType="student">
        <!--select * from student_test where 1=1
        <if test="id != null">
            and id > 1
        </if>
        <if test="sname != null">
            and sname like concat('%',#{sname},'%')
        </if>-->

        select * from student_test
        <where>
            <if test="id != null">
                and id > 1
            </if>
            <if test="sname != null">
                and sname like concat('%',#{sname},'%')
            </if>
        </where>
    </select>
</mapper>