<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="dbConfig.properties"></properties>
    <settings>
        <!--强制使用log4j日志框架-->
        <setting name="logImpl" value="LOG4J"/>
        <!--开启驼峰命名规则-->
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"></setting>
        <setting name="aggressiveLazyLoading" value="false"></setting>
        <setting name="lazyLoadTriggerMethods" value="clone"></setting>
        <!--mybatis默认的是一级缓存,二级缓存需要手动开启,影响所有映射器中的配置的缓存-->
        <setting name="cacheEnabled" value="true"></setting>
    </settings>
    <!--配置文件取别名-->
    <typeAliases>
        <!--针对每个文件取别名
        <typeAlias type="tech.aistar.day01.entity" alias="student"></typeAlias>
         -->
        <!--推荐使用,扫描需要取别名的包-->
        <package name="tech.aistar.day01.entity"></package>
        <package name="tech.aistar.day04"></package>
    </typeAliases>
    <!--分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="dialect" value="com.github.pagehelper.PageHelper"></property>
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"></property>
                <property name="url" value="${mysql.url}"></property>
                <property name="username" value="${mysql.username}"></property>
                <property name="password" value="${mysql.password}"></property>
            </dataSource>
        </environment>
    </environments>
    <mappers>

        <mapper resource="tech/aistar/day01/dao/StudentDaoMapper.xml"></mapper>

        <mapper resource="tech/aistar/day02/sql_all.xml"></mapper>
        <mapper resource="tech/aistar/day04/mapper/common_all.xml"></mapper>

        <package name="tech.aistar"></package>

    </mappers>
</configuration>